MONGO_URI=your_mongodb_string_here
RESEND_API_KEY=your_resend_key_here
CLIENT_EMAIL=your_client_email_here
JWT_SECRET=generate_a_random_string_here
ADMIN_JWT_SECRET=generate_a_random_string_here
ADMIN_EMAIL=your_admin_email_here
ADMIN_PASSWORD=your_admin_password_here
NODE_ENV=production
